FIREBASE_PROJECT_ID=replace-with-project-id
FIREBASE_STORAGE_BUCKET=replace-with-project-id.appspot.com
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FRONTEND_ORIGIN=http://localhost:5500
ADDITIONAL_CORS_ORIGINS=
REPORTS_OUTPUT_DIR=./generated-reports
