rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{email} {
      allow read, write: if true;
    }

    match /teachers/{email} {
      allow read, write: if true;
    }

    match /classes/{classId} {
      allow read, write: if true;
    }

    match /exams/{examId} {
      allow read, write: if true;

      match /questions/{questionId} {
        allow read, write: if true;
      }

      match /answerKeys/{questionId} {
        allow read: if false;
        allow write: if true;
      }
    }

    match /examSessions/{sessionId} {
      allow read, write: if true;

      match /sessionStudents/{studentId} {
        allow read, write: if true;
      }
    }

    match /attempts/{attemptId} {
      allow read, write: if true;
      allow delete: if false;

      match /responses/{questionId} {
        allow read, write: if true;
      }
    }
  }
}
